---
layout: page
---
{%- assign items = site.data[site.metadata] -%}
{%- assign quotes = site.data.blindfold-quotes -%}


<div class="row">
  <div class="col-md-8">
    {% include index/description.html %}
  </div>
  <div class="col-md-2">  
    {% include index/time.html %}
  </div>
  <div class="col-md-2">  
    {% include index/objects.html %}
  </div>
</div>
<div class="row">
  <div class="col-md-7">
    {% include index/carousel.html%}
  </div>
  <div class="col-md-5">
    <div id="feature-quote" class="mb-3"></div>
  </div>

  <div class="col-md-12">

    {% include index/data-download.html %}

  </div>

</div>