---
layout: default
---

{%- assign fields = site.data.config-metadata | where_exp: 'item', 'item.display-name != nil' -%}
{% assign items = site.data.transcripts[page.transcript] %}
{% assign downbeat1 = page.downbeat1 | split: ","%}
<div class="container py-3">
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ '/' | absolute_url }}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ '/browse.html' | absolute_url }}">Items</a></li>
        <li class="breadcrumb-item active">{{ page.title | truncatewords: 10 }}</li>
    </ul>
    <div class="row mt-4 mb-2">
        <div class="col-12 my-0 row">
            <h2 class="col-md mt-2">{{ page.title }}</h2>
            {% if page.downbeatdate1 %}<h4 class="text-uppercase col-md mt-1"><em> {{ downbeat1[0] }} <br>Volume 
                {{ downbeat1[1] }}, {{ downbeat1[2] }}</em></h4>{% endif %}

        </div>
    </div>
    <div class="row">
        <div class="col-md-4 pt-3 order-last order-md-first">

            {% if page.image %}
            <figure class="figure">
                <img src="{{ site.digital-objects }}{{ '/small/' }}{{ page.image | append: '_sm.jpg' }}"
                    alt="item thumbnail for {{ page.title | escape }}" class="figure-img img-fluid rounded">
                <figcaption class="figure-caption text-center"><a class="text-muted"
                        href="{{ page.image-link }}">{{ page.image-title}}<br><small>Image credits:
                            {{ page.image-attribution | strip }}</small></a></figcaption>
            </figure>
            {%- endif -%}

            <div id="item-metadata" class="metadata pl-2">
                <dl>
                    {% for f in fields %}{% if page[f.field] %}
                    <dt class="field">{{ f.display-name }}:</dt>
                    <dd class="field-value">
                        {% if f.browse-link == "true" %}
                        {% assign topics = page[f.field] | split: ";" %}
                        {% for t in topics %}
                        <a class="filter mr-3" data-filter="{{ t | strip | escape }}"
                            href="{{ t | strip | url_param_escape | prepend: '/browse.html#' | relative_url }}">{{ t | strip }}</a>
                        {% endfor %}
                        {% else %}
                        {{ page[f.field] | replace: '""','"' }}{% endif %}
                    </dd>
                    {% endif %}{% endfor %}
                </dl>
            </div>
        </div>
        <div class="col-md-8 order-first">
            {% if page.filename %}
            <div class="card p-2 mb-2">
                <div class="card-text">
                    <div class="row ">
                        <p class="col-lg-9 mt-4">
                            <audio class="mejs__player " preload="none" controls>
                                <source src="{% include download/item.html %}" type="audio/mp3">
                                Your browser does not support the audio element.
                            </audio>
                        </p>
                        <div class="col-lg-3">
                            <a target="_blank" href="{% include download/item.html %}"
                                class="btn btn-outline-info w-100" title="{{ page.format }} download">Download
                                {{ page.format | split: '/' | last | upcase }}</a>
                            {% if page.downbeatdate1 %}{%- capture year -%}{% if page.downbeatdate1 contains "-" %}{{ page.downbeatdate1 | split: "-" | first }}{% elsif page.downbeatdate1 contains "/" %}{{ page.downbeatdate1 | split: "/" | last }}{% else %}{{ page.downbeatdate1 }}{% endif %}{%- endcapture -%}
                            <a href="{{ year | strip | prepend: '/timeline.html#' | relative_url }}"
                                class="w-100 mt-2 btn btn-outline-info" title="View object year on timeline">View on
                                Timeline</a>{% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {%- if page.transcript -%}
            <div class="card p-3" style="height: 700px;">
                <div class="card-text overflow-auto">
                    <table id="contents-container">
                        {% for item in items %}
                        <tr>
                            <!--<tr id="{{ forloop.index }}" class="{{ item.tags | replace: ";", " " }}">
                        <td class="line"><small>{{ forloop.index }}</small></td>-->
                            <td class="py-2 px-4">
                                <div>
                                    <strong>{{ item.speaker | remove: ":"}}</strong>{%- unless item.speaker contains 'Plays' -%}:
                                    {{ item.words }}{%- endunless -%}</div>
                            </td>
                            <td class="pr-3"><small>{% if item.timestamp %}{{ item.timestamp }}{% endif %}</small></td>
                        </tr>
                        {% endfor %}
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>

    </div>
    <div class="row justify-content-end mt-4">
        <div class="col-md-6">
            <div class="card mb-2">
                <div class="card-header">Source</div>
                <div class="card-body">
                    <dl>
                        <dt>Preferred Citation:</dt>
                        <dd>"{{ page.title }}", {{ site.title }}, {{ site.organization-name }}</dd>
                        <dt>Reference Link:</dt>
                        <dd>{{ page.url | absolute_url }}</dd>
                    </dl>
                </div>
            </div>
        </div>
        {% if page.rights or page.rightsstatment %}
        <div class="col-md-5">
            <div class="card mb-2">
                <div class="card-header">Rights</div>
                <div class="card-body">
                    <dl>
                        {% if page.rights %}
                        <dd>{{ page.rights }}</dd>{% endif %}
                        {% if page.rightsstatement %}<dt>Standardized Rights:</dt>
                        <dd><a target="_blank" rel="noopener"
                                href="{{ page.rightsstatement }}">{{ page.rightsstatement }}</a>
                        </dd>{% endif %}
                    </dl>
                </div>
            </div>
        </div>
        {% endif %}
    </div>

    {%- if site.data.theme.browse-buttons == true -%}
    {% assign itemset = site.data[site.metadata] | map: 'objectid' | compact %}
    {% assign last = itemset | size | minus: 1 %}
    {% unless page.index_number == 0 %}
    {% assign back = page.index_number | minus: 1 %}
    {% else %}
    {% assign back = last %}
    {%- endunless -%}
    {% unless page.index_number == last %}
    {% assign forward = page.index_number | plus: 1 %}
    {% else %}
    {% assign forward = 0 %}
    {%- endunless -%}
    {%- assign back_url = '/items/' | append: itemset[back] | append: '.html' | relative_url -%}
    {%- assign forward_url = '/items/' | append: itemset[forward] | append: '.html' | relative_url -%}
    <div class="text-center">
        <a class="btn btn-secondary" href="{{ back_url }}" id="prev-page-button">&laquo; Previous</a>
        <a class="btn btn-secondary" href="{{ '/browse.html' | relative_url }}">Back to Browse</a>
        <a class="btn btn-secondary" href="{{ forward_url }}" id="next-page-button">Next &raquo;</a>
    </div>
    <div id="item-nav">
        <div class="d-none d-md-block">
            <a class="previous btn btn-lg btn-secondary" href="{{ back_url }}">&laquo;</a>
            <a class="next btn btn-lg btn-secondary" href="{{ forward_url }}">&raquo;</a>
        </div>
    </div>
    {%- endif -%}
</div>